---
title: Shae Kuronen
---

= partial('partials/header')

.row
  .xsmall-12.small-12.medium-12.large-12.xlarge-9.columns

    .flexslider

      %ul.slides
        - slides.each do |slide|
          %li
            %span{"data-alt" => "Description here...", "data-picture" => ""}
              %span{"data-original" => "#{slide[:small]}", "data-src" => "/images/global/1x1.gif"}
              %span{"data-media" => "(max-width: 360px)", "data-original" => "#{slide[:small]}", "data-src" => "/images/global/1x1.gif"}
              %span{"data-media" => "(min-width: 361px) and (max-width: 540px)", "data-original" => "#{slide[:medium]}", "data-src" => "/images/global/1x1.gif"}
              %span{"data-media" => "(min-width: 541px) and (max-width: 720px)", "data-original" => "#{slide[:large]}", "data-src" => "/images/global/1x1.gif"}
              %span{"data-media" => "(min-width: 721px)", "data-original" => "#{slide[:xlarge]}", "data-src" => "/images/global/1x1.gif"}
              %noscript
                %img{:alt => "Description here...", :src => "#{slide[:small]}"}

  .xsmall-12.small-12.medium-12.large-12.xlarge-3.columns.panel

    .row

      .xsmall-12.small-12.medium-12.large-4.xlarge-12.columns
        %dl

          - if project_title.length > 0
            %dt Project
            %dd= project_title

          - if project_client.length > 0
            %dt Client
            %dd= project_client

          - if project_agency.length > 0
            %dt Agency
            %dd= project_agency

          - if (project_url.length > 0) && (project_pretty_url.length > 0)
            %dt URL
            %dd
              %a{href: '#{project_url}', target: '_blank'} #{project_pretty_url}

      .xsmall-12.small-12.medium-12.large-8.xlarge-12.columns
        %dl

          - if project_role.length > 0
            %dt Role
            %dd= project_role

          - if project_description.length > 0
            %dt Description
            %dd= project_description


